/* adjust the font size */
body {
  font-size: 14px;
}

/* stylize the nav bar */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  display: fixed;
  width: 100%;
  top: 0;
}

/* stylize the div elements */
section {
  margin: 0 auto;
  padding-top: 5px;
  width: 60%;
}

/* stylize the <h1> elements */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* stylize the "example" class and the <h3> elements */
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/* adjust the font size of <h3> elements */
h3 {
  font-size: 1.3em;
}

/* stylize the "element" class */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0px;
  width: 100%;
}

/* change background color to orange */
.colorChange_1{
  background-color: #F07B0E;
}

/* change background color to gold */
.colorChange_2{
  background-color: #F2CF05;
}

/* change background color to pink */
.colorChange_3{
  background-color: #FC4469;
}
